
<div class="recently-added-wrap">

    <div class="container">
  <div class="card">
    <div class="card-header bg-white">
  
        <button class="btn btn-sm btn-primary pull-right" (click)="btnNew()" data-bs-toggle="modal" data-bs-target="#addEditModal">
          <i class="fas fa-plus"></i> New
        </button>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-sm">
        <thead class="table-secondary">
          <tr>
            <th>Id</th>
            <th>Project</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th class="text-xxl-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="estates.length>0; else noData">
              <tr *ngFor="let estate of estates let i = index">
                <td>{{i+1}}</td>
                <td>{{estate.projectId}}</td>
                <td>{{estate.categoryId}}</td>
                <td>{{estate.price}}</td>
                <td>{{estate.statusId}}</td>
                <td class="center-ite">
                  <a [routerLink]="[]" class="text-info" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="getEstateById(estate.estateId)" (change)="ChangeCategory($event)"><button class="btn btn-xs btn-info me-xxl-2">
                    View
                  </button></a>
                  <a [routerLink]="[]" class="text-success ms-1" data-bs-toggle="modal" data-bs-target="#addEditModal" (click)="edit(estate.estateId)" (change)="ChangeCategory($event)"><button class="btn btn-xs btn-info me-xxl-2">
                    Edit
                  </button></a>
                  <a [routerLink]="[]" class="text-danger ms-1" (click)="deleteEstate(estate.estateId)"><button class="btn btn-xs btn-info ">
                    Delete
                  </button></a>
                </td>
              </tr>
          </ng-container>
          <ng-template #noData>
              <tr>
                  <td colspan="8" class="text-danger">No data found</td>
              </tr>
          </ng-template>
  
        </tbody>
      </table>
      <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onDataChange($event)"
        >

        </pagination-controls>
    </div>
  </div>
  
  
   <div class="modal fade" id="addEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white">{{lblModalHeader}}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <form [formGroup]="estateForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="form-group mb-1">
              <div class="row">
                <div class="col-md-3">Project Name</div>
                <div class="col-md-9">
                  <!-- <input type="text" class="form-control form-control-md" placeholder="Enter projectId" formControlName="projectId"/> -->
                  <select class="form-control form-control-md" formControlName="projectId" (change)="ChangeProject($event)">
                    <option [value]="project.projectId" *ngFor="let project of projects">
                      {{project.projectName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group mb-1">
              <div class="row">
                <div class="col-md-3">Category Name</div>
                <div class="col-md-9">
                  <!-- <input type="text" class="form-control form-control-md" placeholder="Enter categoryId" formControlName="categoryId"/> -->
                  <select class="form-control form-control-md" formControlName="categoryId" (change)="ChangeCategory($event)">
                    <option [value]="category.categoryId" *ngFor="let category of categories">
                      {{category.categoryName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group mb-1">
              <div class="row">
                <div class="col-md-3">Price</div>
                <div class="col-md-9">
                  <input type="text" class="form-control form-control-md" placeholder="price" formControlName="price"/>
                </div>
              </div>
            </div>
            <div class="form-group mb-1">
              <div class="row">
                <div class="col-md-3">Status</div>
                <div class="col-md-9">
                  <input type="text" class="form-control form-control-md" placeholder="Enter statusId" formControlName="statusId"/>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" #closeButton class="btn btn-sm btn-danger" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-sm btn-primary">
            {{lblBtn}}
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="viewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title text-white">Employee Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <table class="table table-bordered table-sm">
                  <tbody>
                      <tr>
                          <td>Id</td>
                          <td>{{objEstate.estateId}}</td>
                      </tr>
                      <tr>
                          <td>Project Name</td>
                          <td>{{objEstate.projectId}}</td>
                      </tr>
                      <tr>
                          <td>Category Name</td>
                          <td>{{objEstate.categoryId}}</td>
                      </tr>
                      <tr>
                          <td>Price</td>
                          <td>{{objEstate.price}}</td>
                      </tr>
                      <tr>
                          <td>Status</td>
                          <td>{{objEstate.statusId}}</td>
                      </tr>
                  </tbody>
  
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" #closeButton class="btn btn-sm btn-danger" data-bs-dismiss="modal">
              <i class="fas fa-times-circle"></i> Close
            </button>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
  
  